<!-- Emmanuel Eyob emanzman@bu.edu-->
<!-- Home page for Ethiopian Trivia App -->
<!-- This paes shows background information about Ethiopia, facts, instructions on how to play the trivia game, and features of the app-->

{% extends 'project/base.html' %}

{% block content %}
<div class="content-container">

  <h1>🇪🇹 Welcome to the Ethiopian Trivia App 🇪🇹</h1><br>

  <h2>About Ethiopia</h2>
  <p>Ethiopia, located in East Africa, is one of the oldest nations in the world. It is known for its diverse cultures, history, unique calendar, and landscapes.</p>
  <p>Some of its landmarks include the Simien Mountains, Rock-Hewn Churches of Lalibela, and obleisks in Axum.</p>
  <p>Ethiopia's culture is vibrant with its traditinonal coffee ceremony, unique cuisine, music, and religious identity.</p>


  <h2>Facts About Ethiopia:</h2>
  <ul>
      <li>Ethiopa is the only African country that was never colonized.</li><br>
      <li>Coffee was discovered in Ethiopia.</li><br>
      <li>Ethiopia has 13 months in its calendar.</li><br>
      <li>Ethiopia has its own script called Ge'ez.</li><br>
      <li>Addis Ababa has the highest altitude capital city in Africa.</li><br>
      <li>The African Union is headquartered in Addis Ababa, Ethiopia.</li><br>
      <li>The Ethiopian calendar is 7-8 years behind the Gregorian calendar.</li><br>
      <li>The Blue Nile River starts in Ethiopia.</li><br>
      <li>Axum is a city in Ethiopia that is believed to hold the Ark of the Covenant.</li><br>
      <li>Ethiopia is the birthplace of the oldest human ancestor Lucy.</li><br>
      <li>The Danakil Depression, found in Ethiopia, is one of the hottest places on Earth.</li>
  </ul>


  <h2>How to Play Ethiopian Trivia</h2>
  <ol>
      <li>Click the link in a category to choose which category to play in</li>
      <li>Answer the 20 questions in your category and finish the quiz</li>
      <li>You get 5 points for each correct answer and it is scored out of 100</li>
      <li>View the details of your quiz and see where you stand on the leaderboard</li>
  </ol>


  <h2>Features of the Ethiopian Trivia App</h2>
  <ul>
      <li>Take a trivia quiz in a category of your choice and learn about Ethiopia</li>
      <li>Track your trivia score and view your progress</li>
      <li>View your trivia scores visually with a graph</li>
      <li>Compete with other users on the leaderboard</li>
      <li>Earn badges for your trivia attempts</li>
  </ul>

</div>
{% endblock %}

  


  


