<!-- Page Dsiplaying Detail of a Single Trivia Attempt of the Ethiopian Trivia Web App-->

{% extends 'project/base.html' %}

{% block content %}

<h1>Ethiopian Trivia Attempt Details:</h1>
<ul>
  <li>User: {{ attempt.user.username }}</li>
  <li>Category: {{ attempt.category }}</li>
  <li>Score: {{ attempt.score }}</li>
  <li>Date: {{ attempt.attempt_date }}</li>
</ul>


<h2>Question Explanations:</h2>

{% for answer in attempt.questionanswer_set.all %}
<p>Question {{ forloop.counter }}: {{ answer.question.question_text }}</p>

<p>Your Answer: {{ answer.user_choice.choice_text }}</p>
  {% if answer.user_choice.correct_choice %}
    <p>(Correct)</p>
  {% else %}
    <p>(Incorrect)</p>
    <p>Correct Answer:</p>
    {% for choice in answer.question.choices.all %}
      {% if choice.correct_choice %}
        {{ choice.choice_text }}
      {% endif %}
    {% endfor %}
  {% endif %}
{% endfor %}

<h2>Fun Fact About Ethiopia:</h2>
<p>{{ fun_fact }}</p>

{% endblock %}