<!-- Emmanuel Eyob emanzman@bu.edu-->
<!-- Page Displaying Detail of a Single Trivia Attempt of the Ethiopian Trivia Web App-->
<!-- Information includes the user's profile, triva attempt category, trivia attempt score, trivia attempt date and question explanations-->

{% extends 'project/base.html' %}

{% block content %}
<div class="content-container">
  <h1>Ethiopian Trivia Attempt Details:</h1>
  <ul>
    <li>User:<a href="{% url 'show_profile' attempt.user.project_profile.pk %}">{{ attempt.user.username }}</a></li>
    <li>Category: {{ attempt.category }}</li>
    <li>Score: {{ attempt.score }}</li>
    <li>Date: {{ attempt.attempt_date }}</li>
  </ul>


  <h2>Question Explanations:</h2>

  {% for answer in attempt.questionanswer_set.all %}
  <p>Question {{ forloop.counter }}: {{ answer.question.question_text }}</p>

  <p>Your Answer: {{ answer.user_choice.choice_text }}</p>
    {% if answer.user_choice.correct_choice %}
      <p>(Correct)</p>
    {% else %}
      <p>(Incorrect)</p>
      <p>Correct Answer:</p>
      {% for choice in answer.question.choices.all %}
        {% if choice.correct_choice %}
          {{ choice.choice_text }}
        {% endif %}
      {% endfor %}
    {% endif %}
  {% endfor %}
</div>
{% endblock %}