<!-- base.html file where each other html file extends from -->

<!DOCTYPE html>
{% load static %}
<html>

<head>
  <link rel="stylesheet" href="{% static 'styles3.css' %}">
</head>

<body>
  <header>
    Mini Facebook
  </header>
  <main>
    <a href="{% url 'create_profile' %}" class="button create-profile-link">Create a New Profile</a>

    {% if request.user.is_authenticated %}
    <p>Logged in user: {{ request.user }}</p>
    {% else %}
    <p>Not logged in.</p>
    {% endif %}

    {% block content %}
    {% endblock %}
  </main>

  <footer>
    Website by Emmanuel Eyob 2025
  </footer>
</body>

</html>