<!-- Form that lets user create a status for their profile-->

{% extends 'mini_fb/base.html' %}
{% block content %}

<h1>Post a status message for {{ profile.first_name }} {{ profile.last_name }} </h1>
<div class="border-container">
  <form method="POST" action="{% url 'create_status' %}" enctype="multipart/form-data" class="status-form">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="file" name="files" multiple />
    <button type="submit">Create Status</button>
  </form>
</div>
{% endblock %}