<!-- Web page that lets users enter a form to create their own profile-->

{% extends 'mini_fb/base.html' %}

{% block content %}
<a href="{% url 'show_all_profiles' %}" class="button all-profiles-link">All Profiles</a>

<div class="border-container">
  <h1>Create Your New Profile</h1>
  <form method="POST" class="profile-form">
    {% csrf_token %}

    {{ user_creation_form.as_p }}<br><br>

    {{ form.as_p }}
    <button type="submit" class="profile-button">Create Profile</button>
  </form>
</div>

{% endblock %}