<!-- Webpage displaying a profile's friend suggestions -->

{% extends 'mini_fb/base.html' %}

{% block content %}
<h1>{{ profile.first_name }} {{ profile.last_name}}'s Friend Suggestions</h1>
<div class="border-container">
  {% for friend_suggestion in profile.get_friend_suggestions %}
  <div class="friend-suggestion-container">
    <a href="{% url 'show_profile' friend_suggestion.pk %}"><img src="{{ friend_suggestion.profile_image_url }}"
        class="smaller-image"></a>
    <p>{{friend_suggestion.first_name}} {{friend_suggestion.last_name}}</p>
    <a href="{% url 'add_friend' friend_suggestion.pk %}" class="button add-friend-button">Add Friend</a>
    {% empty %}
    <p>No friend suggestions</p>
    {% endfor %}
  </div>

  <a href="{% url 'show_profile' profile.pk %}" class="button return-profile">Return to Profile</a>
</div>
{% endblock %}