<!-- Webpage that shows the content of a profile -->


{% extends 'mini_fb/base.html' %}

{% block content %}

<!-- Link to view all profiles-->
<a href="{% url 'show_all_profiles' %}" class="button all-profiles-link">All Profiles</a>

<!-- Display of users full name-->
<h1>{{ profile.first_name }} {{ profile.last_name }}</h1>

<div class="full-profile-content">
  <!-- Table displaying the users profile-->
  <table class="single-profile">
    <!-- Categories of profile information displayed -->
    <thead>
      <tr>
        <th>Profile Image</th>
        <th>Name</th>
        <th>City</th>
        <th>Email</th>
      </tr>
    </thead>

    <!-- Information section for profile-->
    <tbody>
      <tr>
        <td><img src="{{ profile.profile_image_url }}" class="larger-image"></td>
        <td>{{ profile.first_name }} {{ profile.last_name }}</td>
        <td>{{ profile.city }}</td>
        <td>{{ profile.email }}</td>
      </tr>
    </tbody>
  </table>
  <!-- Section for displaying the status message and option to create a status.-->
  <div class="status-display">
    <h2>{{ profile.first_name }} {{ profile.last_name }}'s Status Messages:</h2>

    {% if profile.get_status_messages %}
    {% for status_message in profile.get_status_messages %}
    {% for img in status_message.get_images %}
    <img src='{{img.image_file.url}}' class="smaller-image">
    {% endfor %}
    <p>{{ status_message }}</p>


    {% if request.user == profile.user %}
    <div class="status-button-container">
      <a href="{% url 'update_status' status_message.pk %}" class="button status-button">Update</a>
      <a href="{% url 'delete_status' status_message.pk %}" class="button status-button">Delete</a>
    </div>
    {% endif %}

    {% endfor %}
    {% else %}
    <p>There are no status messages on this profile.</p>
    {% endif %}

    {% if request.user == profile.user %}
    <!-- Link to create status and update profile-->
    <div class="profile-button-container">
      <a href="{% url 'create_status' profile.pk %}" class="button profile-button">Create a Status</a>
      <a href="{% url 'update_profile' profile.pk %}" class="button profile-button">Update Profile</a>
    </div>
    {% endif %}

    <h2>{{ profile.first_name }} {{ profile.last_name }}'s Friends:</h2>
    {% for friend in profile.get_friends %}
    <a href="{% url 'show_profile' friend.pk %}"><img src="{{ friend.profile_image_url }}" class="smaller-image"></a>
    <a href="{% url 'show_profile' friend.pk %}">{{ friend.first_name }} {{ friend.last_name }}</a>
    {% empty %}
    <p>This user has no friends</p>
    {% endfor %}

    {% if request.user == profile.user %}
    <!-- Links to show profile's friend suggestions and news feed-->
    <a href="{% url 'friend_suggestions' profile.pk %}" class="button">Friend Suggestions</a><br>
    <a href="{% url 'news_feed' profile.pk %}" class="button">News Feed</a>
    {% endif %}
  </div>

  {% endblock %}