/*Styling for Mini Facebook web application */

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
  background-color: rgb(120, 165, 212);
  padding: 20px;
  height: 100%;
}

p {
  color: rgb(35, 117, 204);
  text-align: center;
}

h1 {
  text-align: center;
  color: rgb(27, 85, 147);
}

header {
  background-color: rgb(35, 117, 204);
  width: 100%;
  top: 0;
  left: 0;
  position: fixed;
  padding-left: 50px;
  color: rgb(156, 189, 224);
  font-size: 30px;
}

main {
  padding-bottom: 50px;
}

footer {
  background-color: rgb(226, 224, 224);
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 30px;
}

/* Table for the display of profile content */

table {
  margin: 0 auto;
}

th {
  padding: 20px;
}

td {
  padding: 20px;
  color: rgb(35, 117, 204);

}

/* General styling for all links */

a {
  color: rgb(35, 117, 204);
  display: block;
  text-align: center;
  padding: 20px;
}

/* Image displaying on all profiles */

.smaller-image {
  width: 100%;
  max-width: 200px;
  max-height: 200px;
  height: auto;
  object-fit: cover;

}

/* Image displaying on specific profile page */

.larger-image {
  width: 100%;
  max-width: 400px;
  max-height: 300px;
  height: auto;
  object-fit: cover;
}

/* Link directing to all profiles page */

.all-profiles-link {
  text-align: left;
  display: inline-block;
  margin-top: 40px;
}

/* Form to create a profile */

.profile-form {
  text-align: center;
  padding: 10px;
}

/* Form to create a status */

.status-form {
  text-align: center;
}

/* Display of all the status messages */

.status-display {
  text-align: center;
  color: rgb(35, 117, 204);
}

/* Content portion on the specific profile page */
.full-profile-content {
  border: 4px solid rgb(32, 102, 177);
  border-radius: 25px;
}


/* Link to create a profile */
.create-profile-link {
  display: inline-block;
  margin-top: 30px;
  top: 0;
  left: 2;

}

/* Styling for status text and buttons */
.change-status-container {
  text-align: center;
}

.status-button {
  margin-right: 10px;
}

.status-button-container {
  display: flex;
  justify-content: center;
}


/* Styling for profile buttons and regular buttons */
.profile-button-container {
  margin-top: 80px;
}

.profile-button {
  display: inline-block;
  margin-bottom: 20px;
}

.cancel-button {
  display: inline-block;
  background-color: rgb(238, 236, 236);
  color: black;
  border-radius: 5px;
  border: 1.5px solid;
  padding: 2px;
  text-decoration: none;
  font-size: 13px;

}

.button {
  border-radius: 10px;
  background-color: rgb(35, 117, 204);
  color: rgb(156, 189, 224);
  margin-bottom: 20px;
  padding: 6px;
  margin-top: 30px;
  text-decoration: none;
  display: inline-block;
}


button {
  cursor: pointer;
}

.status-submit-button {
  margin: 10px;
}

.update-profile {
  margin-bottom: 20px;
}

.return-profile {
  display: inline-block;
  padding: 16px;
}

.return-profile-button-container {
  text-align: center;
  margin-top: 25px;
}

/* Form styling */
form input {
  padding: 6px;
  border-radius: 10px;
}

form textarea {
  color: rgb(35, 117, 204);

}

form button {
  border-radius: 8px;
}

/* Friend suggestion styling */

.add-friend-button {
  display: inline-block;
}

.friend-suggestion-container {
  text-align: center;
  margin-bottom: 40px;

}

/* General border container styling for dark blue borders*/
.border-container {
  border: 4px solid rgb(32, 102, 177);
  border-radius: 25px;

}

/* News feed styling */

.news-feed-item {
  display: block;
  margin-bottom: 70px;
  border-bottom: 4px solid rgb(32, 102, 177);
  padding: 20px 0;
}

.round-smaller-image {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 20px;
  margin-left: 40px;
  float: left;
}

.news-feed-text {
  margin-left: 140px;
  margin-bottom: 15px;
}

.news-status-image-container {
  display: block;
  margin-top: 10px;
  text-align: center;
  clear: both;
  margin-left: 140px;

}

.news-status-image {
  margin: 5px;
  display: inline-block;
}

/* Login and logout styling */

.login {
  text-align: center;
  padding: 20px;

}

.logout {
  text-align: center;
  padding: 20px;
}